In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/datetime/citbike-tripdata.csv")

In [3]:
df

        rideable_type     started_at       ended_at member_casual
0        classic_bike  7/21/22 18:19  7/21/22 18:28        member
1       electric_bike  7/21/22 17:50  7/21/22 17:59        casual
2       electric_bike  7/23/22 11:51  7/23/22 11:59        member
3        classic_bike  7/30/22 20:34  7/30/22 20:48        member
4        classic_bike  7/14/22 18:42  7/14/22 18:49        casual
...               ...            ...            ...           ...
108497   classic_bike  7/10/22 15:03  7/10/22 15:09        member
108498   classic_bike   7/6/22 11:58   7/6/22 12:04        casual
108499  electric_bike  7/20/22 16:10  7/20/22 16:41        casual
108500   classic_bike  7/15/22 16:17  7/15/22 16:24        casual
108501  electric_bike  7/18/22 21:24  7/18/22 21:35        casual

[108502 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108502 entries, 0 to 108501
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   rideable_type  108502 non-null  object
 1   started_at     108502 non-null  object
 2   ended_at       108502 non-null  object
 3   member_casual  108502 non-null  object
dtypes: object(4)
memory usage: 3.3+ MB

In [5]:
f_name="daniel"
l_name="katzive"
age=55

In [6]:
print(f_name)

daniel

In [7]:
print("Dog is cute")

Dog is cute

In [8]:
print(5)

5

In [9]:
print("5")

5

In [10]:
df["rideable_type"].unique()

array(['classic_bike', 'electric_bike', 'docked_bike'], dtype=object)

In [24]:
df.groupby("rideable_type")[["started_at"]].describe()

              started_at
                   count unique            top freq
rideable_type
classic_bike       72707  28851   7/4/22 22:16   15
docked_bike         1438   1172  7/19/22 13:43    4
electric_bike      34357  20741  7/19/22 18:08    9

AttributeError: 'DataFrameGroupBy' object has no attribute 'disp'